/* Mimic the styling from mytravelgram.gr 
body {
  font-family: Arial, sans-serif;
  background-color: #f5efdf;
}*/
body {
  font-family: Arial, sans-serif;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* This makes the background image fixed while scrolling */
}


header{
  background-color: #333;
}
.social-media {
  position: relative;
  z-index: 0;
}
.social-media::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0); /* Adjust the 0.5 value to change transparency. 0 is fully transparent, 1 is fully opaque. */
  z-index: -1; /* This ensures the pseudo-element is below the actual content of the section */
}

.new-posts .card {
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.carousel {
  background-color: #e9e9e9;
}



/* Existing styles */

/* Navbar styles */
.navbar {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}


.navbar-text {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Dancing Script";
  color: black;

}

.navbar-nav {
  font-size: 1.1rem;
}

.navbar-brand img {
  margin-right: 10px;
  
}
/* ... Existing styles ... */

/* Owl Carousel styles */
.owl-carousel .item {
  margin: 3px;
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* News Section */
section.py-5 h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: "Dancing Script";
  font-weight: bold;
  padding: 6rem;
  background-color:transparent;
  z-index: 5;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: contain;  /* Fixed height for the card */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  height: 250px; /* or whatever height you prefer */
  width: 100%;
  object-fit: cover;
}


.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Dancing Script";
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.card .btn-primary {
  background-color: #f4dcc4;  /* Updated color */
  border-color: #ffd3a7;  /* Updated color */
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

.card .btn-primary:hover {
  background-color: #e5dfcf;  /* Similar color when pressed */
  border-color: #e5dfcf;  /* Similar color when pressed */
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 4px 5px 17px -4px #292929;
      box-shadow: 4px 5px 17px -4px #000000;

}
.card .btn-primary::before{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #f4944b85;
  -webkit-transform: skewX(45deg);
      -ms-transform: skewX(45deg);
          transform: skewX(45deg);
  z-index: -1;
  -webkit-transition: width 1000ms;
  transition: width 1000ms;
}
.card .btn-primary,
.card .btn-primary:hover {
  color: #000000; 
}

.card .btn-primary:hover::before {
  width: 250%;
}


/* Footer styles */
.footer {
  margin-top: 3rem;
  padding: 3rem 1rem;
  color: #333;
  text-align: center;
  background-color: #f5efdf;  /* Updated color */
}

.footer h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* Social media icons */
.social-icons {
  font-size: 2rem;
  margin-top: 2rem;
}

.social-icons a {
  margin: 0 1rem;
  color: #333;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #e5dfcf;  /* Similar color when hovered */
}



.layered-posts {
  position: relative;
  width: 100%; /* Full width of its parent */
  height: 0; /* Reset height */
  padding-bottom: 70%; /* Aspect ratio for 16:9 */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rem;
  margin-top: 200px;
  z-index: 1;

}



.post {
  margin: 2rem;
  padding: -20px;
  position: absolute;
  bottom: 30px;
  width: 100%; /* Adjust as needed */
  height: -10px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  
}


.post:nth-child(1) {
  transform: scale(0.8) rotate(20deg);
  z-index: 1;
}

.post:nth-child(2) {
  transform: scale(0.9) rotate(-20deg);
  z-index: 2;
}

.post:nth-child(3) {
  transform: scale(1);
  z-index: 3;
}

.arrow {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  width: 50px;  /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%; /* This makes it a circle */
  display: flex; /* These three lines center the arrow icon */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),  
  1px -1px 0 rgba(0, 0, 0, 0.5),
  -1px 1px 0 rgba(0, 0, 0, 0.5),
  1px 1px 0 rgba(0, 0, 0, 0.5); 
}
.instagram-row {
  text-align: center; /* Ensure text alignment is centered */
  background-color:transparent;
}


.left-arrow {
  left: -40%;
}

.right-arrow {
  right: -40%;
 
}



.text-container {
  position: relative;
  text-align: center;  /* To center the h2 text */
  margin-bottom: 100px;
}

.brushmark-image {
  position: absolute;
  top: 50%;  /* Adjust as needed to vertically center the image relative to the text */
  left: 50%;  /* Center the image horizontally */
  transform: translate(-50%, -50%);  /* Ensures the image is centered */
  z-index: -1;  /* Places the image beneath the text */
  width: 400px;  /* Adjust as needed */
  height: 80px;  /* Adjust as needed */
  opacity: 1;  /* Adjust as needed for desired transparency */
}

.social-media h2 {
   /* Ensures the text stays above the image */
    /* Needed for z-index to take effect */
  margin-bottom: 200px;
}
.owl-carousel span {
  width:10px;
  height:10px;
  margin:5px 7px;
  background: rgb(137, 137, 137) !important;
  display:block;
  -webkit-backface-visibility:visible;
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}
.owl-carousel .active span {
  width:10px;
  height:10px;
  margin:5px 7px;
  background: rgb(255, 255, 255) !important;
  display:block;
  -webkit-backface-visibility:visible;
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}




.map-card {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* This ensures that the map corners are also rounded */
}

#travel-map {
  height: 500px;
  width: 100%;
  border-radius: 15px; /* Rounded corners */
}

.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  border-radius: 0 0 8px 8px;
}
.popup-content {
  width: 200px;
}

.popup-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.popup-articles {
  list-style-type: none;
  padding: 0;
}

.popup-articles li {
  margin-bottom: 5px;
}


.text-container h3,p {
  color: #fff;
}
