/* Mimic the styling from mytravelgram.gr */
body {
  font-family: Arial, sans-serif;
  background-color: #f5efdf;
}

header{
  background-color: #333;
}



.new-posts .card {
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.carousel {
  background-color: #e9e9e9;
}

.social-media {
  background-color: #ffffff;
}
/* Existing styles */

/* Navbar styles */
.navbar {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}


.navbar-text {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Dancing Script";
  color: black;

}

.navbar-nav {
  font-size: 1.1rem;
}

.navbar-brand img {
  margin-right: 10px;
  
}
/* ... Existing styles ... */

/* Owl Carousel styles */
.owl-carousel .item {
  margin: 3px;
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* News Section */
section.py-5 h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: "Dancing Script";
  font-weight: bold;
  padding: 6rem;
  background-color: #ffffff;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: contain;  /* Fixed height for the card */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  height: 250px; /* or whatever height you prefer */
  width: 100%;
  object-fit: cover;
}


.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.card .btn-primary {
  background-color: #f5efdf;  /* Updated color */
  border-color: #f5efdf;  /* Updated color */
}

.card .btn-primary:hover {
  background-color: #e5dfcf;  /* Similar color when pressed */
  border-color: #e5dfcf;  /* Similar color when pressed */
}

.card .btn-primary,
.card .btn-primary:hover {
  color: #000000; 
}

/* Footer styles */
.footer {
  margin-top: 3rem;
  padding: 3rem 1rem;
  color: #333;
  text-align: center;
  background-color: #f5efdf;  /* Updated color */
}

.footer h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* Social media icons */
.social-icons {
  font-size: 2rem;
  margin-top: 2rem;
}

.social-icons a {
  margin: 0 1rem;
  color: #333;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #e5dfcf;  /* Similar color when hovered */
}



.layered-posts {
  position: relative;
  width: 100%; /* Full width of its parent */
  height: 0; /* Reset height */
  padding-bottom: 70%; /* Aspect ratio for 16:9 */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rem;
  
}



.post {
  
  position: absolute;
  bottom: 30px;
  width: 100%; /* Adjust as needed */
  height: -10px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}


.post:nth-child(1) {
  transform: scale(0.8) rotate(20deg);
  z-index: 1;
}

.post:nth-child(2) {
  transform: scale(0.9) rotate(-20deg);
  z-index: 2;
}

.post:nth-child(3) {
  transform: scale(1);
  z-index: 3;
}

.arrow {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  background-color: #f5efdf;
  color: rgb(255, 255, 255);
   border: 1px solid #252525;
  font-size: 2rem;
  width: 50px;  /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%; /* This makes it a circle */
  display: flex; /* These three lines center the arrow icon */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),  
  1px -1px 0 rgba(0, 0, 0, 0.5),
  -1px 1px 0 rgba(0, 0, 0, 0.5),
  1px 1px 0 rgba(0, 0, 0, 0.5); 
}
.instagram-row {
  text-align: center; /* Ensure text alignment is centered */
  
}


.left-arrow {
  left: -40%;
}

.right-arrow {
  right: -40%;
 
}
